<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

 
 <!--  <test thread-count="5" name="chromeTest">
  <parameter name="ABSAASSESMENT" value="chrome"/>
    <classes>
      <class name="Way2Automation.Functionality"/>
    </classes>
  </test> Test -->
  <test thread-count="2" name="firefoxTest">
  <parameter name="ABSAASSESMENT" value="firefox"></parameter>
    <classes>
      <class name="Way2Automation.Functionality"/>
    </classes>
  </test> <!-- Test -->
  
   <listeners>
        <listener class-name="Listeners.TestListener"/>
        <listener class-name="Listeners.AnnotationTransformer"/>
    </listeners>
 
    <test name="LoginTest">
        <classes>
            <class name="Way2Automation.absaPOM"/>
        </classes>
    </test>
</suite> <!-- Suite -->


